reading_data/.ipynb_checkpoints/Romagnolo2024-checkpoint.ipynb
CosmicIntegration/.ipynb_checkpoints/cosmic-integration-SSPC-checkpoint.ipynb
CosmicIntegration/.ipynb_checkpoints/cosmic-integration-compas-fix-checkpoint.ipynb
*.pyc
CosmicIntegration/cosmic_integration/.ipynb_checkpoints/Untitled-checkpoint.ipynb
manipulating_data/.ipynb_checkpoints/Into_smaller_datasets-checkpoint.ipynb
CosmicIntegration/.ipynb_checkpoints/formation_efficiency_COMPAS-checkpoint.ipynb
initial_conditions/.ipynb_checkpoints/BOPT_BOSSA-checkpoint.ipynb
creating_data/.ipynb_checkpoints/Boesky_data_calculate_merger_rates-checkpoint.ipynb
reading_data/.ipynb_checkpoints/General scripts-checkpoint.ipynb
reading_data/.ipynb_checkpoints/COMPAS-Boesky-data-checkpoint.ipynb
creating_GROWL_data/.ipynb_checkpoints/Boesky_data_calculate_merger_rates-checkpoint.ipynb
creating_GROWL_data/.ipynb_checkpoints/Boesky_data_calculate_merger_rates-clean-checkpoint.ipynb
creating_GROWL_data/.ipynb_checkpoints/save_to_GROWL_COMPAS_Boesky_data-checkpoint.ipynb
creating_GROWL_data/.ipynb_checkpoints/save_to_GROWL_COMPAS_Boesky_data_and_calculate_formation_efficiencies-checkpoint.ipynb
CosmicIntegration/.ipynb_checkpoints/cosmic_integration_SSPC_S(Z,z)_COMPAS-checkpoint.ipynb
CosmicIntegration/.ipynb_checkpoints/cosmic_integration_SSPC_S(Z,z)_basic_example-checkpoint.ipynb
creating_GROWL_data/.ipynb_checkpoints/save_to_GROWL_COMPAS_Boesky_data_and_calculate_formation_efficiencies_and_channel-checkpoint.ipynb
.DS_Store
/growl_formation_efficiency/.ipynb_checkpoints
*checkpoint.ipynb
# SSPC output of onboarding tutorial 3 (hundreds of MB, regenerated by the notebook)
onboarding_growl/data/sspc/
onboarding_growl/data/Riley_CHE_data/COMPAS_Output.zip
onboarding_growl/data/vanSon2022_data/COMPAS_Output_wWeights.h5
onboarding_growl/data/vanSon2022_data/COMPAS_Output_wWeights.tar.gz

# GWTC-5.0 population data release (42 GB, Zenodo 10.5281/zenodo.20292639) -- never commit
lvk_observations/GWtC-5/
lvk_observations/GWTC-5/
CosmicIntegration/sspc_output.h5
